{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Stick Shop !</h1>
    {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2>
    {% else %}
        <p class="lead">To get maximum of our site - <br><a href="{% url 'user_login' %}" class="btn btn-lg btn-secondary">Sign in</a></p>
            <p class="lead"> Do not have an account? <br>
              <a href="{% url 'register' %}" class="btn btn-lg btn-secondary">Sign up</a>
            </p>
    {% endif %}
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>You are all GAY</h3>
      <p>I will write down just bla bla bla bla bla bla bla bla bla bla...</p>
      <p>These column look so coooooool man , i have to write something...</p>
    </div>
    <div class="col-sm-4">
      <h3>Dumbledore is a gay wizzard</h3>
      <p>Six started far placing saw respect females old. Civilly why how end viewing .</p>
      <p>On no twenty spring of in esteem spirit likely estate. Continue new you declared differed learning bringing honoured...</p>
    </div>
    <div class="col-sm-4">
      <h3>Harry is also gay</h3>
      <p> s highest men did boy. Mistress sensible entirely am so. Quick can manor smart money boy her ha ..</p>
      <p>UShortly am waiting inhabit smiling he chiefly of in....</p>
    </div>
  </div>
</div>

{% endblock %}