<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:2%">
  <a class="navbar-brand" href="{#}">Branch store LTD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
<ul class="navbar-nav">
    <li class="nav-item active">

        <button style="width:100%"><a class="nav-link" href="{#}">Magic Wands<span class="sr-only">(current)</span></a></button>
    </li>
    <li class="nav-item active">
        <button style="width:100%"><a class="nav-link" href="{#}">Survachki<span class="sr-only">(current)</span></a></button>
    </li>
        <li class="nav-item active">
        <button style="width:100%"><a class="nav-link" href="{#}">Only for Good Bois<span class="sr-only">(current)</span></a></button>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item active">

        <button style="width:100%"><a class="nav-link" href="{#}">Sell Stick<span class="sr-only">(current)</span></a></button>
    </li>
    {% endif %}
    </ul>
    </li>
      {% if user.is_authenticated %}
         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >


            <a class="dropdown-item" href="{#}">My Profile</a>
            <a class="dropdown-item" href="{#}">My sticks</a>
            <a class="dropdown-item" href="#">My reviews</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>

        </div>


        {% endif %}

        </div>



    </ul>
  </div>
</nav>